min_version = "2024.9.5"

[env]
PROJECT_NAME = "sqlx"
SQLX_MYSQL_DSN = "root:password@tcp(127.0.0.1:3306)/test"
SQLX_POSTGRES_DSN = "user=user password=password dbname=postgres host=localhost sslmode=disable"

[tools]
go = "1.25.1"
"go:honnef.co/go/tools/cmd/staticcheck" = { version = "v0.6.1" }
"go:golang.org/x/vuln/cmd/govulncheck" = { version = "v1.1.4" }
"go:golang.org/x/tools/cmd/goimports" = { version = "v0.20.0" }
"go;gotest.tools/gotestsum" = { version = "ddd0b05a6878e2e8257a2abe6e7df66cebc53d0e" }

[tasks]
test = "go test ./..."
vet = "go vet ./..."
static = "staticcheck -checks=all ./..."
vuln = "govulncheck ./..."
fmt = "go fmt ./... && goimports -l -w ."
has-changes = "git diff --exit-code --quiet HEAD --"