name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ "1.25", "1.24" ]
    steps:
      - uses: actions/checkout@v4
      - name: Run test and lint on ${{ matrix.go-version }}
        uses: ./.github/workflows/lint-test.yaml
        with:
          go-version: ${{ matrix.go-version }}