name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-lint:
    strategy:
      matrix:
        go-version: [ "1.25", "1.24" ]
    uses: ./.github/workflows/lint-tests.yaml
    with:
      go-version: ${{ matrix.go-version }}
